
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Local push press quality experiments
ml/analysis_quality/push_press_quality/local_experiments/
